<router-outlet></router-outlet>
<!-- chat.component.html -->
<!--<div class="chat-container">-->
<!--  <div class="chat-messages">-->
<!--    <div *ngFor="let message of messages$ | async" [ngClass]="{'receivedMessage': message.isReceived, 'sentMessage': !message.isReceived}">-->
<!--      {{ message.message }}-->
<!--    </div>-->
<!--  </div>-->
<!--  <input type="text" [(ngModel)]="message" (keyup.enter)="sendMessage()" placeholder="Type a message...">-->
<!--  <button (click)="sendMessage()">Send</button>-->
<!--</div>-->
